@import url('https://fonts.cdnfonts.com/css/digital-7-mono');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$screen_font: 'Digital-7', sans-serif;
$button_font: 'Roboto', sans-serif;

$screen_color: #34374a;
$base_color: #afccea;
$button_color: #c2d4ea;
$font_color: #fbfcfd;
$button_color_special: #eba28f;
$button_color_action: #a0b0d4;
